//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//$font-family-base: 'Roboto', sans-serif;
//$font-size-base: 1rem;
//$primary:   #BE7F98;
//$info:      #53ac98;

// It complains about imports from /bootstrap, but it actually works. Don't change this.
$spacer: 1rem;
$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3),
        6: ($spacer * 5)
);

@import "/bootstrap/scss/bootstrap";

// This is for PAGINATION
//.step {
//  padding: 10px;
//  color: black;
//  text-decoration: none;
//  transition: background-color .3s;
//  border: 1px solid #ddd;
//}
//
//.nextLink {
//  padding: 10px;
//  color: black;
//  text-decoration: none;
//  transition: background-color .3s;
//  border: 1px solid #ddd;
//}
//
//.prevLink {
//  padding: 10px;
//  color: black;
//  text-decoration: none;
//  transition: background-color .3s;
//  border: 1px solid #ddd;
//}
//
//.currentStep {
//  padding: 10px;
//  background-color: #4CAF50;
//  color: white;
//  border: 1px solid #4CAF50;
//}
//
//.step.gap {
//  display: none;
//}
//
//.step:hover:not(.active) {
//  background-color: #ddd;
//}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 56px;
  //padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.bg-carousel {
  padding: 2rem;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  //height: 100%;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

/* MARKETING CONTENT
-------------------------------------------------- */
//
///* Center align the text within the three columns below the carousel */
//.marketing .col-lg-4 {
//  margin-bottom: 1.5rem;
//  text-align: center;
//}
//.marketing h2 {
//  font-weight: 400;
//}
//.marketing .col-lg-4 p {
//  margin-right: .75rem;
//  margin-left: .75rem;
//}
//
//
///* Featurettes
//------------------------- */
//
//.featurette-divider {
//  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
//}
//
///* Thin out the marketing headings */
//.featurette-heading {
//  font-weight: 300;
//  line-height: 1;
//  letter-spacing: -.05rem;
//}
//
//
///* RESPONSIVE CSS
//-------------------------------------------------- */
//
//@media (min-width: 40em) {
//  /* Bump up size of carousel content */
//  .carousel-caption p {
//    margin-bottom: 1.25rem;
//    font-size: 1.25rem;
//    line-height: 1.4;
//  }
//
//  .featurette-heading {
//    font-size: 50px;
//  }
//}
//
//@media (min-width: 62em) {
//  .featurette-heading {
//    margin-top: 7rem;
//  }
//}
//
//.bd-placeholder-img {
//  font-size: 1.125rem;
//  text-anchor: middle;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}
//
//@media (min-width: 768px) {
//  .bd-placeholder-img-lg {
//    font-size: 3.5rem;
//  }
//}

.cover-body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  //color: #fff;
  //text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background: #333 url('../images/helena-lopes-PGnqT0rXWLs-unsplash.jpg') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media(max-width:767px){
  .disable-border {
    border: none !important;
  }
}


/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

//@media (min-width: 62em) {
//  .featurette-heading {
//    margin-top: 7rem;
//  }
//}

.breakout-orange {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 100%);
}

.breakout-blue {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.breakout-dark {
  background: rgb(0,26,66);
  background: linear-gradient(90deg, rgba(0,26,66,1) 0%, rgba(0,16,40,1) 40%, rgba(0,6,14,1) 100%);
}

.breakout-light-dark {
  background: rgb(0,45,113);
  background: linear-gradient(90deg, rgba(0,45,113,1) 0%, rgba(0,27,68,1) 40%, rgba(0,13,33,1) 100%);
}