// It complains about these imports, but it actually works. Don't change this.
@import "/bootstrap/scss/functions";
@import "/bootstrap/scss/variables";

.bg-pink {
  background-color: $pink;
}

.bg-gray {
  background-color: $gray-100;
}